@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
  }
  
  article {
    padding:0 1em;
  }
  
  section{
    margin: 1em;
    padding: 1em;
  }
  
  header, main, footer {
    margin: 0 auto;
  }
  
  header {
    padding: 2em;
    text-align: center;
    background-image: url('image/bg.jpg');
    background-position: fixed;
    background-size: cover;
  }
  
  header section {
    margin: 0 auto;
    color: white;
  }
  
  header img {
    border-radius: 350px;
    height: 150px;
    width: 150px;
  }
  
  h1 {
    margin: 1em 0;
    color: white;
  }

  h2 {
      text-transform: uppercase;
      text-decoration: underline;
      text-align: center;
      padding-bottom: 50px;
  }
  
  main {
    max-width: 1140px;
  }
  
  .course {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .course .title {
    padding-top: 15px;
    flex: 0 0 33.3%;
    -ms-flex: 0 0 33.3%;
    max-width: 33%;
    color: grey;
  }
  
  .course .descrition {
    -ms-flex: 0 0 66.6%;
    flex: 0 0 66.6%;
    max-width: 66.6%;
  }
  
  .course .descrition p {
    padding-left: 1em;
  }

  .skills {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
  }

  .skills .column {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .skills .column ul, ul.job-description {
    list-style-type: none;
  }
  
  .skills .column ul > li:before {
    content: "►";
    padding-right: 0.5em;
    color: #509e98;
  }
  
  .school, .job-title {
    text-transform: capitalize;
  }
  
  .school span, .job-title span {
    color: #889499;
    text-decoration: underline;
  }
  
  ul.job-description li:before{
    content: "✔";
    padding-right: 0.5em;
    color: #509e98;
  }

  .fab {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin: 5px;
    text-align: center;
  }
  
  a .fab {
    color: white;
  }
  
  .school span {
    color: #A7B8BF;
  }
  
  footer {
    padding: 1em 1.5em;
    background: #A7B8BF;
    color: white;
    text-align: center;
   }
  